In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
datasetpath=('/content/retail_transactions.csv')

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv(datasetpath)

In [ ]:
df

,TransactionID,TransactionDate,StoreID,CustomerID,ProductID,ProductCategory,Quantity,Price,PaymentType,Discount
0,T001,2024-01-01,102,1646,545,Electronics,1,150,Credit,15.0
1,T002,2024-01-02,103,1226,542,Toys,2,317,Debit,10.0
2,T003,2024-01-03,102,1515,593,Electronics,5,165,Debit,NaN
3,T004,2024-01-04,103,1793,560,Furniture,6,496,Debit,10.0
4,T005,2024-01-05,105,1864,523,Grocery,10,166,Debit,0.0
...,...,...,...,...,...,...,...,...,...,...
95,T096,2024-04-05,101,1918,559,Apparel,2,439,Cash,10.0
96,T097,2024-04-06,104,1190,579,Electronics,4,52,Debit,0.0
97,T098,2024-04-07,102,1932,504,Apparel,7,151,Credit,10.0
98,T099,2024-04-08,103,1285,587,Apparel,5,479,Credit,10.0
99,T100,2024-04-09,101,1602,574,Electronics,5,247,Credit,15.0

In [ ]:
df.describe()

          StoreID   CustomerID   ProductID    Quantity      Price   Discount
count  100.000000   100.000000  100.000000  100.000000  100.00000  75.000000
mean   102.730000  1552.520000  554.390000    5.370000  282.15000   7.733333
std      1.384291   268.295461   28.544098    3.013957  140.19938   5.652871
min    101.000000  1013.000000  501.000000    1.000000   50.00000   0.000000
25%    101.000000  1310.250000  529.750000    3.000000  165.75000   2.500000
50%    103.000000  1534.000000  554.000000    5.500000  280.00000  10.000000
75%    104.000000  1800.750000  579.500000    8.000000  415.25000  12.500000
max    105.000000  1983.000000  600.000000   10.000000  500.00000  15.000000

In [ ]:
df.head(15)

,TransactionID,TransactionDate,StoreID,CustomerID,ProductID,ProductCategory,Quantity,Price,PaymentType,Discount
0,T001,2024-01-01,102,1646,545,Electronics,1,150,Credit,15.0
1,T002,2024-01-02,103,1226,542,Toys,2,317,Debit,10.0
2,T003,2024-01-03,102,1515,593,Electronics,5,165,Debit,NaN
3,T004,2024-01-04,103,1793,560,Furniture,6,496,Debit,10.0
4,T005,2024-01-05,105,1864,523,Grocery,10,166,Debit,0.0
5,T006,2024-01-06,103,1836,515,Grocery,9,227,Debit,NaN
6,T007,2024-01-07,103,1983,586,Electronics,1,170,Credit,NaN
7,T008,2024-01-08,101,1806,569,Toys,4,500,Debit,0.0
8,T009,2024-01-09,101,1925,548,Apparel,7,217,Cash,10.0
9,T010,2024-01-10,101,1711,565,Furniture,3,466,Debit,5.0
10,T011,2024-01-11,103,1276,565,Furniture,1,321,Cash,NaN
11,T012,2024-01-12,101,1486,523,Toys,8,426,Credit,5.0
12,T013,2024-01-13,103,1597,516,Toys,5,262,Cash,15.0
13,T014,2024-01-14,101,1462,520,Electronics,10,218,Cash,NaN
14,T015,2024-01-15,104,1668,581,Toys,4,201,Debit,15.0

In [ ]:
from datetime import datetime

In [3]:
import pandas as pd

In [4]:
data = {
    'Product': ['A', 'B', 'C', 'D'],
    'Quantity': [10, 5, None, 8],
    'Price': ['100', '200', '150.5', '300'],
    'Discount': [None, '10%', '5%', None]
}

In [5]:
df = pd.DataFrame(data)

In [6]:
missing_values = df.isnull().sum()
print("Missing values per column:\n", missing_values)

Missing values per column:
 Product     0
Quantity    1
Price       0
Discount    2
dtype: int64

In [7]:
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')

In [8]:
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

In [9]:
df['Discount'] = df['Discount'].str.replace('%', '', regex=True).astype(float)
df['Discount'].fillna(0, inplace=True)

print("\nCleaned DataFrame:\n", df)

Cleaned DataFrame:
   Product  Quantity  Price  Discount
0       A      10.0  100.0       0.0
1       B       5.0  200.0      10.0
2       C       NaN  150.5       5.0
3       D       8.0  300.0       0.0

<ipython-input-9-e693dd44c19b>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Discount'].fillna(0, inplace=True)

In [10]:
data = {
    'Price': [100, 200, 150, 50],
    'Discount': [10, 20, 5, 0],
    'Quantity': [2, 3, 5, 10]
}

In [11]:
df = pd.DataFrame(data)

In [12]:
df['NetPrice'] = df['Price'] * (1 - df['Discount'] / 100)

In [13]:
df['TotalSale'] = df['Quantity'] * df['NetPrice']

In [14]:
print(df)

   Price  Discount  Quantity  NetPrice  TotalSale
0    100        10         2      90.0      180.0
1    200        20         3     160.0      480.0
2    150         5         5     142.5      712.5
3     50         0        10      50.0      500.0

In [15]:
data = {
    'TransactionID': [1, 2, 3, 4, 5],
    'Customer': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'TotalSale': [15, 25, 10, 30, 22]
}

In [16]:
df = pd.DataFrame(data)

In [17]:
filtered_df = df[df['TotalSale'] >= 20]

In [18]:
print(filtered_df)

   TransactionID Customer  TotalSale
1              2      Bob         25
3              4    David         30
4              5      Eve         22

In [19]:
data = {'PaymentType': ['Credit Card', 'Cash', 'Debit Card', 'Credit Card', 'Cash']}
df = pd.DataFrame(data)

In [20]:
df['PaymentType'] = df['PaymentType'].astype('category')

In [21]:
print(df.dtypes)
print(df['PaymentType'].cat.categories)  # Show categories

PaymentType    category
dtype: object
Index(['Cash', 'Credit Card', 'Debit Card'], dtype='object')

In [22]:
data = {
    'ProductCategory': ['Electronics', 'Clothing', 'Electronics', 'Home', 'Clothing', 'Home'],
    'Quantity': [10, 5, 8, 15, 12, 7],
    'TotalSale': [2000, 500, 1600, 3000, 1200, 1800]
}

In [23]:
df = pd.DataFrame(data)

In [24]:
grouped_df = df.groupby('ProductCategory').agg(
    TotalQuantity=('Quantity', 'sum'),
    TotalSales=('TotalSale', 'sum')
)

In [25]:
sorted_df = grouped_df.sort_values(by='TotalSales', ascending=False)

In [26]:
top_3_categories = sorted_df.head(3)

In [27]:
print(top_3_categories)

                 TotalQuantity  TotalSales
ProductCategory
Home                        22        4800
Electronics                 18        3600
Clothing                    17        1700

In [28]:
data = {
    'StoreID': [101, 101, 102, 102, 103, 103, 101, 102],
    'ProductCategory': ['Electronics', 'Clothing', 'Electronics', 'Home', 'Clothing', 'Home', 'Home', 'Clothing'],
    'TotalSale': [2000, 500, 1500, 3000, 1200, 1800, 2200, 1300],
    'TransactionID': [1, 2, 3, 4, 5, 6, 7, 8]  # Unique transaction IDs
}

In [29]:
df = pd.DataFrame(data)

In [30]:
grouped_df = df.groupby(['StoreID', 'ProductCategory']).agg(
    AvgTotalSale=('TotalSale', 'mean')  # Calculate average TotalSale
)

In [31]:
print(grouped_df)

                         AvgTotalSale
StoreID ProductCategory
101     Clothing                500.0
        Electronics            2000.0
        Home                   2200.0
102     Clothing               1300.0
        Electronics            1500.0
        Home                   3000.0
103     Clothing               1200.0
        Home                   1800.0

In [32]:
data = {
    'StoreID': [101, 101, 102, 102, 103, 103, 101, 102],
    'ProductCategory': ['Electronics', 'Clothing', 'Electronics', 'Home', 'Clothing', 'Home', 'Home', 'Clothing'],
    'TotalSale': [2000, 500, 1500, 3000, 1200, 1800, 2200, 1300]
}

In [33]:
df = pd.DataFrame(data)

In [34]:
grouped_df = df.groupby(['StoreID', 'ProductCategory']).agg(
    AvgTotalSale=('TotalSale', 'mean')
).reset_index()

In [35]:
top_category_df = grouped_df.loc[grouped_df.groupby('StoreID')['AvgTotalSale'].idxmax()]

In [36]:
top_category_df.rename(columns={'ProductCategory': 'TopProductCategory'}, inplace=True)

In [37]:
print(top_category_df)

   StoreID TopProductCategory  AvgTotalSale
2      101               Home        2200.0
5      102               Home        3000.0
7      103               Home        1800.0

In [38]:
data = {
    'StoreID': [101, 101, 102, 102, 103, 103, 101, 102],
    'ProductCategory': ['Electronics', 'Clothing', 'Electronics', 'Home', 'Clothing', 'Home', 'Home', 'Clothing'],
    'TotalSale': [2000, 500, 1500, 3000, 1200, 1800, 2200, 1300]
}

In [39]:
df = pd.DataFrame(data)

In [40]:
grouped_df = df.groupby(['StoreID', 'ProductCategory']).agg(
    AvgTotalSale=('TotalSale', 'mean')  # Compute the mean TotalSale per category per store
).reset_index()

In [41]:
top_category_df = grouped_df.loc[grouped_df.groupby('StoreID')['AvgTotalSale'].idxmax()]

In [42]:
top_category_df.rename(columns={'ProductCategory': 'TopProductCategory'}, inplace=True)

In [43]:
print(top_category_df)

   StoreID TopProductCategory  AvgTotalSale
2      101               Home        2200.0
5      102               Home        3000.0
7      103               Home        1800.0